<div class="relative">
  <input
    type="text"
    [formControl]="searchControl"
    class="w-full rounded border px-3 py-2 outline-none focus:border-blue-500"
    (focus)="showDropdown = true"
    (blur)="hideDropdownLater()"
    placeholder="Search..." />

  <ul
    *ngIf="showDropdown && filteredOptions.length > 0"
    class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded border bg-white shadow">
    <li
      *ngFor="let option of filteredOptions"
      (mousedown)="selectOption(option)"
      class="cursor-pointer px-4 py-2 hover:bg-blue-100">
      {{ option }}
    </li>
  </ul>
</div>
