<!-- Modal Overlay -->
<div *ngIf="showForm" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <!-- Modal Box -->
  <div class="relative w-full max-w-md rounded bg-white p-6 shadow-lg dark:bg-gray-900">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Invite Employee</h2>

    <!-- Form fields -->

    <input
      type="email"
      class="mb-4 w-full rounded border p-2"
      placeholder="Email"
      [(ngModel)]="newEmployeeMail" />

    <!-- Buttons -->
    <div class="flex justify-end space-x-2">
      <app-button tone="warning" shape="rounded" impact="bold" size="medium" (click)="showForm = !showForm">
        Cancel
      </app-button>

      <app-button tone="success" shape="rounded" impact="bold" size="medium" (click)="inviteEmployee()">
        Submit
      </app-button>
    </div>
  </div>
</div>

<!-- Header -->
<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="text-foreground font-semibold">Employees of Department {{departmentName}}</h3>
    <div class="text-muted-foreground space-x-1 text-xs font-medium">
      <span>Total:</span>
      <span class="text-foreground">{{ employees.length }}</span>
    </div>
  </div>
  <app-button tone="primary" shape="rounded" impact="bold" size="medium" (click)="showForm = !showForm" class="mb-4">
    + Invite Employee
  </app-button>
</div>

<!-- Table -->
<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
  <div class="overflow-x-auto px-5">
    <table
      class="text-muted-foreground table w-full table-auto border-collapse border-0 text-left align-middle leading-5">
      <thead class="border-muted/20 text-muted-foreground border text-xs">
      <tr>
        <th class="px-2 py-3">Name</th>
        <th class="px-2 py-3">E-Mail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let emp of employees; let i = index" class="hover:bg-card/50">
        <td class="px-2 py-3">{{ emp.firstName }} {{ emp.lastName }}</td>
        <td class="px-2 py-3">{{ emp.email }}</td>
      <tr *ngIf="employees.length === 0">
        <td class="py-4 text-center text-sm" colspan="3">No employees found</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
