<form [formGroup]="blueprintForm" (ngSubmit)="submit()" class="space-y-6">
  <div formArrayName="shifts">
    <div
      *ngFor="let shift of shifts.controls; let i = index; trackBy: trackByIndex"
      [formGroupName]="i"
      class="border-border bg-muted rounded-lg border p-4">
      <div class="mb-4 flex items-center justify-between">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <label>Description:</label>
            <input
              formControlName="description"
              type="text"
              placeholder="Shift-Description"
              class="text-primary mr-8 w-40 border-b border-gray-400 bg-transparent font-semibold placeholder-gray-400 outline-none" />
            <label>Manpower:</label>
            <input
              formControlName="manPower"
              type="number"
              min="1"
              max="150"
              placeholder="2"
              class="max-w-32 ml-2 w-10 border-b border-gray-400 bg-transparent text-center text-sm outline-none" />
          </div>

          <div
            *ngIf="shift.get('description')?.invalid && shift.get('description')?.touched"
            class="text-xs text-red-500">
            Description is required and must be at least 3 characters and max 255.
          </div>

          <!-- Fehleranzeige für manpower -->
          <div *ngIf="shift.get('manPower')?.invalid && shift.get('manPower')?.touched" class="text-xs text-red-500">
            Manpower must be at least 1 and must not be greater than 150.
          </div>
        </div>

        <button type="button" (click)="removeShift(i)" class="text-gray-500 hover:cursor-pointer hover:text-red-500">
          <!-- Trash Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
        </button>
      </div>

      <div formArrayName="shiftWeeks" class="space-y-4">
        <div
          *ngFor="let week of getWeeks(i).controls; let j = index; trackBy: trackByIndex"
          [formGroupName]="j"
          class="border-l-4 pl-4"
          [style]="'border-color: ' + distinctColors[j] + ' !important;'">
          <div class="mt-2 grid grid-cols-2 gap-4 sm:grid-cols-4 xl:grid-cols-7 xl:gap-2">
            <ng-container *ngFor="let weekday of daysOfWeek">
              <ng-container *ngIf="getDayForWeekForm(i, j, weekday) as day; else empty">
                <div
                  [formGroup]="day"
                  class="border-border bg-card flex flex-col items-center rounded-md border py-3 px-2 shadow">
                  <span class="text-foreground mb-1 text-sm font-medium">{{ weekday }}</span>
                  <label class="text-muted-foreground text-xs">
                    Start
                    <input
                      formControlName="startTime"
                      type="time"
                      class="text-muted-foreground bg-transparent text-xs outline-none" />
                  </label>
                  <label class="text-muted-foreground text-xs">
                    End
                    <input
                      formControlName="endTime"
                      type="time"
                      class="text-muted-foreground bg-transparent text-xs outline-none" />
                  </label>
                  <div class="mt-1 flex flex-row items-center justify-between">
                    <app-button
                      full
                      impact="none"
                      tone="danger"
                      shape="rounded"
                      size="small"
                      class="mr-2"
                      (click)="removeDay(i, j, getDayIndex(i, j, weekday))"
                      title="Remove day">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                      </svg>
                    </app-button>
                    <app-button
                      [type]="'button'"
                      full
                      impact="none"
                      tone="success"
                      shape="rounded"
                      size="small"
                      title="Copy to all other days"
                      (click)="copyDayToOthers(i, j, weekday)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                      </svg>
                    </app-button>
                  </div>
                </div>
              </ng-container>
              <ng-template #empty>
                <div
                  class="hover:border-primary hover:bg-accent flex cursor-pointer flex-col items-center justify-center rounded-md border border-dashed border-gray-400 p-3 text-xs italic transition hover:shadow-md"
                  (click)="addDay(i, j, weekday)">
                  {{ weekday }}
                </div>
              </ng-template>
            </ng-container>
            <div
              *ngIf="getDays(i, j)?.errors?.['exactWeeklyHours'] && getDays(i, j).touched"
              class="mt-1 text-xs text-red-500">
              Week has {{ getDays(i, j).errors?.['exactWeeklyHours'] | number:'1.0-0' }}h – must be exactly 40h!
            </div>
          </div>

          <div
            *ngIf="getDays(i, j)?.errors?.['maxWeeklyHours'] && getDays(i, j).touched"
            class="mt-1 text-xs text-red-500">
            This week exceeds 40 hours ({{ getDays(i, j).errors?.['maxWeeklyHours'] | number:'1.0-0' }}h)
          </div>

          <a
            *ngIf="!hasFixedWeekCount()"
            type="button"
            (click)="removeWeek(i, j)"
            class="mt-2 text-xs text-red-500 hover:cursor-pointer hover:underline">
            - Delete week
          </a>
        </div>

        <a
          *ngIf="getWeeks(i).length < amountShiftWeeks"
          type="button"
          (click)="addWeek(i)"
          class="mt-2 text-xs hover:cursor-pointer hover:underline">
          + Add week
        </a>
      </div>
    </div>
  </div>

  <div class="mt-4 space-x-4">
    <app-button
      *ngIf="shifts.length === 0"
      full
      impact="light"
      tone="primary"
      shape="rounded"
      size="medium"
      (click)="addShift()"
      >+ Add Shift</app-button
    >

    <button
      *ngIf="shifts.length > 0"
      [disabled]="blueprintForm.invalid"
      type="submit"
      class="bg-primary rounded px-4 py-2 text-sm text-white shadow hover:cursor-pointer disabled:bg-gray-400">
      Save
    </button>
  </div>
</form>
