<form [formGroup]="blueprintForm" (ngSubmit)="submit()" class="space-y-6">
  <div formArrayName="shifts">
    <div
      *ngFor="let shift of shifts.controls; let i = index; trackBy: trackByIndex"
      [formGroupName]="i"
      class="border-border bg-muted rounded-lg border p-4">
      <div class="mb-4 flex items-center justify-between">
        <div class="flex items-center gap-2">
          <input
            formControlName="description"
            type="text"
            placeholder="Schichtname"
            class="text-primary w-40 border-b border-gray-400 bg-transparent font-semibold placeholder-gray-400 outline-none" />

          <input
            formControlName="manPower"
            type="number"
            min="1"
            placeholder="2"
            class="w-10 border-b border-gray-400 bg-transparent text-center text-sm outline-none" />
        </div>
        <button type="button" (click)="removeShift(i)" class="text-gray-500 hover:text-red-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
        </button>
      </div>

      <div formArrayName="shiftWeeks" class="space-y-4">
        <div
          *ngFor="let week of getWeeks(i).controls; let j = index; trackBy: trackByIndex"
          [formGroupName]="j"
          class="border-primary/30 border-l-4 pl-4">
          <div class="mt-2 grid grid-cols-7 gap-4">
            <ng-container *ngFor="let weekday of daysOfWeek">
              <ng-container *ngIf="getDayForWeekForm(i, j, weekday) as day; else empty">
                <div
                  [formGroup]="day"
                  class="border-border bg-card flex min-w-[120px] flex-col items-start rounded-md border p-3 shadow">
                  <span class="text-foreground text-sm font-medium">{{ weekday }}</span>
                  <label class="text-muted-foreground text-xs">
                    Start
                    <input
                      formControlName="startTime"
                      type="time"
                      class="text-muted-foreground bg-transparent text-xs outline-none" />
                  </label>
                  <label class="text-muted-foreground text-xs">
                    End
                    <input
                      formControlName="endTime"
                      type="time"
                      class="text-muted-foreground bg-transparent text-xs outline-none" />
                  </label>
                  <button
                    type="button"
                    (click)="removeDay(i, j, getDayIndex(i, j, weekday))"
                    class="mt-1 text-xs text-red-500">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </ng-container>
              <ng-template #empty>
                <div
                  class="flex min-w-[120px] cursor-pointer flex-col items-center justify-center rounded-md border border-dashed border-gray-400 p-3 text-xs italic"
                  (click)="addDay(i, j, weekday)">
                  {{ weekday }}
                </div>
              </ng-template>
            </ng-container>
          </div>

          <a type="button" (click)="removeWeek(i, j)" class="mt-2 text-xs text-red-500 hover:underline">Delete week</a>
        </div>

        <a type="button" (click)="addWeek(i)" class="mt-2 text-xs hover:underline">+ Add week</a>
      </div>
    </div>
  </div>
  <div class="mt-4 space-x-4">
    <a *ngIf="shifts.length === 0" type="button" (click)="addShift()" class="text-primary text-sm hover:underline">
      + Add Shift
    </a>
    <button
      *ngIf="shifts.length > 0"
      [disabled]="blueprintForm.invalid"
      type="submit"
      class="bg-primary rounded px-4 py-2 text-sm text-white shadow disabled:bg-gray-400">
      Save
    </button>
  </div>
</form>
